.row {
  border: 10px;
  border-color: black;
  width: 800px;
  height: 600px;

  margin-left:250px;
  margin-top: 80px;
}
#Properties{
  margin-bottom: 200px;
  display: flex;

  color:blueviolet;
 
}

.description{

  margin-left: 50px;
}

