.row {
  border: 10px;
  border-color: black;
  width: 800px;
  height: 600px;

  margin-left:250px;
  margin-top: 80px;
}
#Properties{
  margin-bottom: 200px;
  display: flex;

  color: rgb(255, 255, 0);
  text-shadow: rgb(0, 0, 0) 4px 4px 8px;
 
}
#card-title-bio{
  color: rgb(255, 255, 0);
  text-shadow: rgb(0, 0, 0) 4px 4px 8px;
  
}

.description{

  margin-left: 50px;
}
