.card {
  width: 18rem;
 
}


div.scrollmenu {

  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color:#777;
}

h2{
  color:black;
  text-align: center;
  font-family: 'Quantico', sans-serif;
  font-size: 50px;
}

#titleGeneral{
  margin-top: 20px;
  margin-bottom: 20px;
  color: yellow;
  text-shadow: rgb(0, 0, 0) 4px 4px 6px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#titleCargando{

  color: yellow;
  text-shadow: rgb(0, 0, 0) 4px 4px 6px;
}
